*:focus{
    outline: none!important;
    box-shadow: none!important;
}
html,
body {
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #f8f8f8;
}
img {
    -webkit-user-drag: none;
}
.text-right{
    text-align: right;
}
#dark-mode{
    background-color: rgba(0, 0, 0, 0.87);
}
#main-dom{
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
}
.scroll-inner{
    overflow-y: scroll;
    height: calc(100vh - 150px);
}
.heading{
    padding: 22px;
    margin-bottom: 20px;
    background-color: #D3D0CB;
}
#dark-mode .heading{
    background-color: rgba(0, 0, 0, 0.08);
}
#logo{
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.full-height{
    height: 100%;
}
.toolbar{
    -webkit-app-region: drag;
}
.sidebar{
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
#dark-mode .sidebar{
    border-right: 1px solid rgba(255, 255, 255, 0.12);
}
.menu-grid{
    height: calc(100% - 250px);
}
.bottom-picker{
    align-self: baseline;
    text-align: center;
    width: 100%;
}
.danger-btn.MuiButton-contained{
    background-color: #d24b4b!important;
}
.danger-btn.MuiButton-contained:hover{
    background-color: #a53a3a!important;
}
.danger-btn.MuiButton-contained .MuiButton-label{
    color: #FFFFFF!important;
}
.danger-btn.MuiButton-outlined{
    border-color: #d24b4b;
}
.danger-btn.MuiButton-outlined .MuiButton-label{
    color: #d24b4b;
}
.danger-btn.MuiButton-outlined:hover{
    background-color: rgba(165, 58, 58, 0.1);
}
.danger-btn.MuiButton-outlined .MuiButton-label{
    color: #d24b4b;
}
.form-container .MuiTypography-subtitle2{
    margin-bottom: 5px;
}
.form-container .MuiTypography-subtitle2 + .MuiDivider-root{
    margin-bottom: 10px;
}
.form-container .single-setting:not(.last){
    margin-bottom: 30px;
}
.analysis-conainer{
    margin-top: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.analysis-conainer .analysis-view{
    overflow-y: scroll;
    height: calc(100vh - 200px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, .08);
}
.analysis-conainer .analysis-view .stiker{
    content: "";
    display: block;
    position:-webkit-sticky;
    position:sticky;
    left: 0;
    top: -20px;
    width: 60px;
    height: calc(100% + 32px);
    background-color: #424C55;
    margin-top: calc(200px - 100vh);
}
.analysis-conainer .analysis-view.no-scroll{
    overflow-y: hidden;
}
#dark-mode .analysis-conainer .analysis-view{
    background-color: rgba(255, 255, 255, 0.16);
}
.analysis-conainer .analysis-view{
    counter-reset: codeline;
}
.analysis-conainer .analysis-view pre{
    padding-left: 70px;
}
.analysis-conainer .analysis-view .code-line{
    counter-increment: codeline;
    z-index: 0;
}
.analysis-conainer .analysis-view .code-line:before{
    content: counter(codeline);
    position: absolute;
    z-index: 9;
    color: #FFFFFF;
    width: 60px;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    font-family: sans-serif;
}
.analysis-conainer .analysis-view .code-line:not(:last-child){
    margin-bottom: 15px;
}
.analysis-conainer .analysis-view .code-line:hover:before{
    background-color: rgb(51, 133, 118);
}
.about-section .abount-content{
    text-align: center;
}
.about-section .abount-content .MuiAvatar-root{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.about-section .abount-content .MuiTypography-root{
    margin-top: 20px;
}
.about-section .abount-content .MuiChip-root{
    margin-top: 20px;
}
.skeleton-container .MuiSkeleton-root.first-line{
    margin-bottom: 10px;
}
.skeleton-container .MuiDivider-root{
    margin-bottom: 20px;
}
.skeleton-container .MuiSkeleton-root:not(.first-line){
    margin-bottom: 10px;
}
.analysis-conainer-inner{
    overflow-y: scroll;
    max-height: calc(100vh - 220px);
    overflow-x: hidden;
    padding-right: 10px;
}
.analysis-conainer-inner .title-tag{
    position: relative;
    margin-bottom: 5px;
}
.analysis-conainer-inner .title-tag .MuiSvgIcon-root{
    margin-bottom: -4px;
}
.analysis-conainer-inner .title-tag .MuiBadge-root{
    position: absolute;
    right: 15px;
    top: 15px;
}
.analysis-conainer-inner .MuiDivider-root{
    margin-bottom: 10px;
}
.analysis-conainer-inner .content-tag{
    background-color: #d3d0cb;
    padding: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    -webkit-user-select: all;
}
#dark-mode .analysis-conainer-inner .content-tag{
    background-color: #3c3c3c;
}
.analysis-conainer-inner .content-tag.no-wrapping{
    overflow: hidden;
    white-space: nowrap;
}
.analysis-conainer-inner .tag-analysis-container{
    margin-bottom: 35px;
}
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background: rgba(66, 76, 85, 0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#dark-mode *::-webkit-scrollbar-thumb{
    background: rgba(8, 204, 184, 0.2);
}
*::-webkit-scrollbar-thumb:hover {
    background: rgba(66, 76, 85, 0.5);
}
#dark-mode *::-webkit-scrollbar-thumb:hover {
    background: rgba(8, 204, 184, 0.5);
}
